* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: #333;
  --color: #e7e7e7;
}

body {
  font-size: 1.6rem;

  padding: 2.4rem;

  background-color: var(--bg-color);
  color: var(--color);
}
